.bg{
    margin: auto;
    padding: 10px;
    background-size: cover;
    background: rgba(19, 146, 196, 0.1);
}
.mg{
    border: 5px solid black;
    margin: 10px;
    border-radius: 20px;
    font: italic small-caps bold 12px/30px Georgia, serif;
}
.row{
    width: 100%;
    align-items: center;
    
}
.col{
    width: 20%;
    float: left;
    text-align: center;
    color: white;
    text-decoration: solid;
}
.col:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px burlywood;
}
.heads{
    text-align: center;
    /* border: 5px solid green; */
    padding-bottom: 10px;
    background-size: 50%;
    color: beige;
}
.btn{
    background-color: burlywood;
    border-radius: 5px;
}
.btn:hover{
    transform: scale(1.1);
}
.fbg{
    background:rgba(61, 172, 213, 0);
    color:darkblue;
}
input{
    width: 25%;
    margin-bottom: 20px;
}
input[type=text]:focus{
    transform: scale(1.1);
}