.inn{
    /* background-color: bisque; */
    margin: 0%;
    padding: 0%;
}
.out{
    /* background-color: aqua; */
    background-size: cover;
    margin-top: 10px;
}
.btns1{
    margin-bottom: 5px;
    background-color: greenyellow;
    color: white;
    border: 2px solid greenyellow;
    margin: 5px;
    /* display: block; */
    font-size: 15px;
}
.btns1:hover{
    background-color: azure;
}
.contentBlock{
    background-color: rosybrown;
    margin: 0% 25%;
    border-radius: 20px;
    padding: 10px;
}
.p1{
    size: 10px;
}
.btns3{
    margin-bottom: 5px;
    background-color: greenyellow;
    color: white;
    border: 2px solid greenyellow;
    margin: 5px;
    font-size: 15px;
}
.btns3:hover{
    background-color: azure;
    color: black;
}
.btns4{
    margin-bottom: 5px;
    background-color:red;
    color: white;
    border: 2px solid greenyellow;
    margin: 5px;
    /* display: block; */
    font-size: 15px;
}
.btns4:hover{
    background-color: azure;
    color: black;
}