.bgcolor{
    background-color: gray;
    border-radius: 10px;
    border: 2px solid ghostwhite;
    padding: 10px;
    margin: 0% 25%;
}
.bgcolor:hover{
    transform: scale(1.1);
}
.cBgcolor{
    background-color: rosybrown;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 0% 25%;
}
.cBgcolor:hover{
    transform: scale(1.1);
}
.btn1{
    background-color: aquamarine;
    border-radius: 20px;
}
.btn1:hover{
    transform: scale(1.1);
}
.btn2{
    background-color: rgb(234, 77, 77);
    border-radius: 20px;
}
.btn2:hover{
    transform: scale(1.1);
}